# Copia este archivo a local-secrets.properties (no se sube a git)
# y llena los valores. También puedes usar variables de entorno.

oracle.user=
oracle.password=
oracle.wallet.password=
mail.smtp.user=
mail.smtp.pass=
mail.smtp.from=
mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
